* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background: url(../img/signes-du-zodiaque.webp);
    z-index: -100;
    background-attachment: fixed;
    /* Fixe l'image d'arrière-plan */
    background-size: cover;
    /* Ajuste la taille de l'image d'arrière-plan pour couvrir le conteneur */
    background-position: center;
    /* Centre l'image d'arrière-plan */
}
span {
    color: #ec0000;
    text-decoration: underline 2px solid black;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffffc0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 15px 0px;
}
.checkbox-grid label {
    display: block;
    text-decoration: none;
}
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #b91111;
    border-radius: 5px;
    box-sizing: border-box;
}
label {
    font-weight: bold;
    text-decoration: underline 2px #ff0000;
    padding-bottom: 10px !important;
}
input[type="submit"] {
    text-decoration: underline 2px black;
    /* font-weight: bold; */
    font-size: 1.4em;
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #ff0000af;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
}

.reponse p {
    margin: 15px 0px;
    font-style: bold !important;
    /* color: blue; */
}
.reponse img {
    width: 20%;
}
